.navbar {
  background-color: rgb(184, 25, 65);
  border-radius: 0px;
}
* {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.navbar-default .navbar-brand {
  color: #fff;
}
.nav > li > a { 
  display:none;
}
.heading {
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  text-emphasis: weight;
  margin-top: 15px;
  margin-bottom: 15px;
}
.block_name {
  text-decoration: none;
  text-align: center;
  margin-top: 1px;
}
#section-chicken {
  border: 1px solid #000;
  margin-top: 20px;
  padding: 10px;
  background-color: darkgrey;
}
.row {
  width: 100%;
  float: left;
}
